body{
    background-color: black;
}
#bodysec{
    background-color: white;
    color: black;
}
#bodysec h5{
    text-align: right;
}
#header{
    background-color: black;
}
h1{
    color: white;
}
#outer{
    background-color: #1a1a1a;
}
#follower{
    background-color: #1a1a1a;
    color: white;
}
.responsive{
    width: 100%;
    height: auto;
}
.responsive_small{
    width: 25%;
    height: auto;
}
.btn:hover {
    background-color: #1a1a1a !important;
    color: white;
}
@media screen and (max-width: 750px) {
    #un {
      font-size: 3vw; 
    }
    #follow_setup, #follower_setup, #age, #age_setup{
        font-size: 3vw;
    }
}
.follow_box:hover{
    background-color: gray;
}